# Preparation

## package installation, database connection

    :: for cmd commenting
    -- or /**/ for sql commenting
    # or '''''' for python commenting
    database_name=# means run SQL SHELL(psql) at C:\Softwares\PostgreSQL\11\scripts\runpsql    
    
命令格式中常用的几个符号含义如下：
+ 尖括号< >：必选参数，实际使用时应将其替换为所需要的参数
+ 大括号{ }：必选参数，内部使用，包含此处允许使用的参数
+ 方括号[ ]：可选参数，在命令中根据需要加以取舍
+ 小括号( )：指明参数的默认值，只用于{ }中
+ 竖线|：用于分隔多个互斥参数，含义为“或”，使用时只能选择一个。
+ 省略号…：任意多个参数。

In [77]:
%%cmd
::# package installment for database connection
pip install ipython-sql

Microsoft Windows [Version 10.0.17763.805]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\wqiong\Desktop\Directory\My Plans\DC\Database Design>::# package installment for database connection
C:\Users\wqiong\Desktop\Directory\My Plans\DC\Database Design>pip install ipython-sql
Requirement already satisfied: ipython-sql in c:\softwares\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: sqlparse in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: six in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (1.3.10)
Requirement already satisfied: prettytable in c:\softwares\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: setuptools>=18.5 in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: traitlets>=4.2 in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: jedi>=0.10 in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: pickleshare in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: decorator in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: pygments in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\softwares\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: wcwidth in c:\softwares\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\softwares\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)

C:\Users\wqiong\Desktop\Directory\My Plans\DC\Database Design>

In [21]:
'''load sql and connect to database'''
# built-in magic function load_ext
%load_ext sql

# connection string: postgresql://username:password@hostname/dbname
%sql postgresql://postgres:pgbt636487@localhost/dvdrental

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## database orientation

>schema 是对一个数据库的结构描述。在一个关系型数据库里面，schema定义了表、每个表的字段，还有表和字段之间的关系。    
catalog 是由一个数据库实例的元数据组成的，包括基本表，同义词，索引，用户等等。

### database

In [54]:
'''show databases available, template1 and template0 are original tables.'''
%sql SELECT datname FROM pg_database;

 * postgresql://postgres:***@localhost/dvdrental
4 rows affected.

[('postgres',), ('template1',), ('template0',), ('dvdrental',)]

### database users

In [53]:
%%sql
SELECT u.usename AS "Role name",
  CASE WHEN u.usesuper AND u.usecreatedb 
         THEN CAST('superuser, 
                    createdatabase' AS pg_catalog.text)
       WHEN u.usesuper THEN CAST('superuser' AS pg_catalog.text)
       WHEN u.usecreatedb THEN CAST('create database' AS pg_catalog.text)
  ELSE CAST('' AS pg_catalog.text)
  END AS "Attributes"
FROM pg_catalog.pg_user u
ORDER BY 1;

 * postgresql://postgres:***@localhost/dvdrental
1 rows affected.

[('postgres', 'superuser, \n                    createdatabase')]

### **database ER Diagram of dvdrental**    

![](dvdrental_ER_diagram.png)

### database tables

In [75]:
%%sql
SELECT * 
FROM pg_catalog.pg_tables
--# use where clause to filter out system tables under pg_catalog schema and information_schema
WHERE schemaname != 'pg_catalog'
    AND schemaname != 'information_schema';

 * postgresql://postgres:***@localhost/dvdrental
16 rows affected.

[('pb_dvd', 'actor', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'store', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'address', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'category', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'city', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'country', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'customer', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'film_actor', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'film_category', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'inventory', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'language', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'rental', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'staff', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'payment', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'film', 'postgres', None, True, False, True, False),
 ('pb_dvd', 'contacts', 'postgres', None, True, False, False, False)]

### tables, columns and constraints

In [70]:
%%sql
SELECT 
    t.table_name, t.column_name, t.data_type,
    c.constraint_name

--# tables under information_schema (columns, constraint_column_usage)
FROM information_schema.columns t
LEFT JOIN information_schema.constraint_column_usage c
    ON c.table_name = t.table_name
    AND c.column_name = t.column_name

--# use where clause to filter out system tables under pg_catalog schema and information_schema
WHERE t.table_name IN (
    SELECT tablename 
    FROM pg_catalog.pg_tables
    WHERE schemaname != 'pg_catalog'
        AND schemaname != 'information_schema'
);

 * postgresql://postgres:***@localhost/dvdrental
109 rows affected.

[('customer', 'store_id', 'smallint', None),
 ('customer', 'first_name', 'character varying', None),
 ('customer', 'last_name', 'character varying', None),
 ('customer', 'email', 'character varying', None),
 ('customer', 'address_id', 'smallint', None),
 ('customer', 'active', 'integer', None),
 ('customer', 'customer_id', 'integer', 'rental_customer_id_fkey'),
 ('customer', 'customer_id', 'integer', 'payment_customer_id_fkey'),
 ('customer', 'customer_id', 'integer', 'customer_pkey'),
 ('customer', 'activebool', 'boolean', None),
 ('customer', 'create_date', 'date', None),
 ('customer', 'last_update', 'timestamp without time zone', None),
 ('actor', 'first_name', 'character varying', None),
 ('actor', 'last_name', 'character varying', None),
 ('actor', 'actor_id', 'integer', 'film_actor_actor_id_fkey'),
 ('actor', 'actor_id', 'integer', 'actor_pkey'),
 ('actor', 'last_update', 'timestamp without time zone', None),
 ('category', 'name', 'character varying', None),
 ('category', 'category_id', 'integer', 'film_category_category_id_fkey'),
 ('category', 'category_id', 'integer', 'category_pkey'),
 ('category', 'last_update', 'timestamp without time zone', None),
 ('film', 'title', 'character varying', None),
 ('film', 'description', 'text', None),
 ('film', 'release_year', 'integer', None),
 ('film', 'language_id', 'smallint', None),
 ('film', 'length', 'smallint', None),
 ('film', 'special_features', 'ARRAY', None),
 ('film', 'fulltext', 'tsvector', None),
 ('film', 'film_id', 'integer', 'inventory_film_id_fkey'),
 ('film', 'film_id', 'integer', 'film_category_film_id_fkey'),
 ('film', 'film_id', 'integer', 'film_actor_film_id_fkey'),
 ('film', 'film_id', 'integer', 'film_pkey'),
 ('film', 'rental_duration', 'smallint', None),
 ('film', 'rental_rate', 'numeric', None),
 ('film', 'replacement_cost', 'numeric', None),
 ('film', 'rating', 'USER-DEFINED', None),
 ('film', 'last_update', 'timestamp without time zone', None),
 ('film_actor', 'actor_id', 'smallint', 'film_actor_pkey'),
 ('film_actor', 'film_id', 'smallint', 'film_actor_pkey'),
 ('film_actor', 'last_update', 'timestamp without time zone', None),
 ('film_category', 'film_id', 'smallint', 'film_category_pkey'),
 ('film_category', 'category_id', 'smallint', 'film_category_pkey'),
 ('film_category', 'last_update', 'timestamp without time zone', None),
 ('address', 'address', 'character varying', None),
 ('address', 'address2', 'character varying', None),
 ('address', 'district', 'character varying', None),
 ('address', 'city_id', 'smallint', None),
 ('address', 'postal_code', 'character varying', None),
 ('address', 'phone', 'character varying', None),
 ('address', 'address_id', 'integer', 'store_address_id_fkey'),
 ('address', 'address_id', 'integer', 'staff_address_id_fkey'),
 ('address', 'address_id', 'integer', 'customer_address_id_fkey'),
 ('address', 'address_id', 'integer', 'address_pkey'),
 ('address', 'last_update', 'timestamp without time zone', None),
 ('city', 'city', 'character varying', None),
 ('city', 'country_id', 'smallint', None),
 ('city', 'city_id', 'integer', 'fk_address_city'),
 ('city', 'city_id', 'integer', 'city_pkey'),
 ('city', 'last_update', 'timestamp without time zone', None),
 ('country', 'country', 'character varying', None),
 ('country', 'country_id', 'integer', 'fk_city'),
 ('country', 'country_id', 'integer', 'country_pkey'),
 ('country', 'last_update', 'timestamp without time zone', None),
 ('inventory', 'film_id', 'smallint', None),
 ('inventory', 'store_id', 'smallint', None),
 ('inventory', 'inventory_id', 'integer', 'rental_inventory_id_fkey'),
 ('inventory', 'inventory_id', 'integer', 'inventory_pkey'),
 ('inventory', 'last_update', 'timestamp without time zone', None),
 ('language', 'name', 'character', None),
 ('language', 'language_id', 'integer', 'film_language_id_fkey'),
 ('language', 'language_id', 'integer', 'language_pkey'),
 ('language', 'last_update', 'timestamp without time zone', None),
 ('payment', 'customer_id', 'smallint', None),
 ('payment', 'staff_id', 'smallint', None),
 ('payment', 'rental_id', 'integer', None),
 ('payment', 'amount', 'numeric', None),
 ('payment', 'payment_date', 'timestamp without time zone', None),
 ('payment', 'payment_id', 'integer', 'payment_pkey'),
 ('rental', 'rental_date', 'timestamp without time zone', None),
 ('rental', 'inventory_id', 'integer', None),
 ('rental', 'customer_id', 'smallint', None),
 ('rental', 'return_date', 'timestamp without time zone', None),
 ('rental', 'staff_id', 'smallint', None),
 ('rental', 'rental_id', 'integer', 'payment_rental_id_fkey'),
 ('rental', 'rental_id', 'integer', 'rental_pkey'),
 ('rental', 'last_update', 'timestamp without time zone', None),
 ('staff', 'first_name', 'character varying', None),
 ('staff', 'last_name', 'character varying', None),
 ('staff', 'address_id', 'smallint', None),
 ('staff', 'email', 'character varying', None),
 ('staff', 'store_id', 'smallint', None),
 ('staff', 'staff_id', 'integer', 'store_manager_staff_id_fkey'),
 ('staff', 'staff_id', 'integer', 'rental_staff_id_key'),
 ('staff', 'staff_id', 'integer', 'payment_staff_id_fkey'),
 ('staff', 'staff_id', 'integer', 'staff_pkey'),
 ('staff', 'active', 'boolean', None),
 ('staff', 'username', 'character varying', None),
 ('staff', 'password', 'character varying', None),
 ('staff', 'picture', 'bytea', None),
 ('staff', 'last_update', 'timestamp without time zone', None),
 ('store', 'manager_staff_id', 'smallint', None),
 ('store', 'address_id', 'smallint', None),
 ('store', 'store_id', 'integer', 'store_pkey'),
 ('store', 'last_update', 'timestamp without time zone', None),
 ('contacts', 'id', 'integer', 'contacts_pkey'),
 ('contacts', 'first_name', 'character varying', None),
 ('contacts', 'last_name', 'character varying', None),
 ('contacts', 'email', 'character varying', None),
 ('contacts', 'phone', 'character varying', None)]

### table indexes

In [78]:
%%sql
SELECT
    tablename, indexname, indexdef
FROM pg_indexes
WHERE schemaname = 'pb_dvd'  --'''rename public schema into pb_dvd'''
ORDER BY 1, 2;

 * postgresql://postgres:***@localhost/dvdrental
33 rows affected.

[('actor', 'actor_pkey', 'CREATE UNIQUE INDEX actor_pkey ON pb_dvd.actor USING btree (actor_id)'),
 ('actor', 'idx_actor_last_name', 'CREATE INDEX idx_actor_last_name ON pb_dvd.actor USING btree (last_name)'),
 ('address', 'address_pkey', 'CREATE UNIQUE INDEX address_pkey ON pb_dvd.address USING btree (address_id)'),
 ('address', 'idx_fk_city_id', 'CREATE INDEX idx_fk_city_id ON pb_dvd.address USING btree (city_id)'),
 ('category', 'category_pkey', 'CREATE UNIQUE INDEX category_pkey ON pb_dvd.category USING btree (category_id)'),
 ('city', 'city_pkey', 'CREATE UNIQUE INDEX city_pkey ON pb_dvd.city USING btree (city_id)'),
 ('city', 'idx_fk_country_id', 'CREATE INDEX idx_fk_country_id ON pb_dvd.city USING btree (country_id)'),
 ('contacts', 'contacts_pkey', 'CREATE UNIQUE INDEX contacts_pkey ON pb_dvd.contacts USING btree (id)'),
 ('country', 'country_pkey', 'CREATE UNIQUE INDEX country_pkey ON pb_dvd.country USING btree (country_id)'),
 ('customer', 'customer_pkey', 'CREATE UNIQUE INDEX customer_pkey ON pb_dvd.customer USING btree (customer_id)'),
 ('customer', 'idx_fk_address_id', 'CREATE INDEX idx_fk_address_id ON pb_dvd.customer USING btree (address_id)'),
 ('customer', 'idx_fk_store_id', 'CREATE INDEX idx_fk_store_id ON pb_dvd.customer USING btree (store_id)'),
 ('customer', 'idx_last_name', 'CREATE INDEX idx_last_name ON pb_dvd.customer USING btree (last_name)'),
 ('film', 'film_fulltext_idx', 'CREATE INDEX film_fulltext_idx ON pb_dvd.film USING gist (fulltext)'),
 ('film', 'film_pkey', 'CREATE UNIQUE INDEX film_pkey ON pb_dvd.film USING btree (film_id)'),
 ('film', 'idx_fk_language_id', 'CREATE INDEX idx_fk_language_id ON pb_dvd.film USING btree (language_id)'),
 ('film', 'idx_title', 'CREATE INDEX idx_title ON pb_dvd.film USING btree (title)'),
 ('film_actor', 'film_actor_pkey', 'CREATE UNIQUE INDEX film_actor_pkey ON pb_dvd.film_actor USING btree (actor_id, film_id)'),
 ('film_actor', 'idx_fk_film_id', 'CREATE INDEX idx_fk_film_id ON pb_dvd.film_actor USING btree (film_id)'),
 ('film_category', 'film_category_pkey', 'CREATE UNIQUE INDEX film_category_pkey ON pb_dvd.film_category USING btree (film_id, category_id)'),
 ('inventory', 'idx_store_id_film_id', 'CREATE INDEX idx_store_id_film_id ON pb_dvd.inventory USING btree (store_id, film_id)'),
 ('inventory', 'inventory_pkey', 'CREATE UNIQUE INDEX inventory_pkey ON pb_dvd.inventory USING btree (inventory_id)'),
 ('language', 'language_pkey', 'CREATE UNIQUE INDEX language_pkey ON pb_dvd.language USING btree (language_id)'),
 ('payment', 'idx_fk_customer_id', 'CREATE INDEX idx_fk_customer_id ON pb_dvd.payment USING btree (customer_id)'),
 ('payment', 'idx_fk_rental_id', 'CREATE INDEX idx_fk_rental_id ON pb_dvd.payment USING btree (rental_id)'),
 ('payment', 'idx_fk_staff_id', 'CREATE INDEX idx_fk_staff_id ON pb_dvd.payment USING btree (staff_id)'),
 ('payment', 'payment_pkey', 'CREATE UNIQUE INDEX payment_pkey ON pb_dvd.payment USING btree (payment_id)'),
 ('rental', 'idx_fk_inventory_id', 'CREATE INDEX idx_fk_inventory_id ON pb_dvd.rental USING btree (inventory_id)'),
 ('rental', 'idx_unq_rental_rental_date_inventory_id_customer_id', 'CREATE UNIQUE INDEX idx_unq_rental_rental_date_inventory_id_customer_id ON pb_dvd.rental USING btree (rental_date, inventory_id, customer_id)'),
 ('rental', 'rental_pkey', 'CREATE UNIQUE INDEX rental_pkey ON pb_dvd.rental USING btree (rental_id)'),
 ('staff', 'staff_pkey', 'CREATE UNIQUE INDEX staff_pkey ON pb_dvd.staff USING btree (staff_id)'),
 ('store', 'idx_unq_manager_staff_id', 'CREATE UNIQUE INDEX idx_unq_manager_staff_id ON pb_dvd.store USING btree (manager_staff_id)'),
 ('store', 'store_pkey', 'CREATE UNIQUE INDEX store_pkey ON pb_dvd.store USING btree (store_id)')]

### table description
run SQL SHELL(psql) --> \d <*table_name*>

# Processing, Storing, and Organizing Data

## OLTP and OLAP

In [14]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="OLTP and OLAP.mp4">
</video>

>How should we organize and manage data?
+ Schemas: How should my data be logically organized?
+ Normalization: Should my data have minimal dependency and redundancy?
+ Views: What joins will be done most often?
+ Access control: Should all users of the data have the same level of access
+ DBMS: How do I pick between all the SQL and noSQL options?    
... ...and more!    

It depends on the intended use of the data, OLTP or OLAP.

vs | OLTP | OLAP
-|-|-
Full Name | OnLine Transaction Processing | OnLine Analytical Processing
Purpose| support daily transactions | report and analyze data
Design| application-oriented| subject-oriented
Data| up-to-date, operational |consolidated 汇总后的, historical
Size| snapshot, gigabytes| archive, terabytes
Queries| simple transactions & frequent updates| complex, aggregate queries & limited updates
Users| thousands| hundreds

## Storing data

1. Structured data    
Follows a schema
De×ned data types & relationships
e.g., SQL, tables in a relational database    

2. Unstructured data    
Schemaless
Makes up most of data in the world
e.g., photos, chat logs, MP3    

3. Semi-structured data    
Does not follow larger schema
Self-describing structure
e.g., NoSQL, XML, JSON    
![](data_type.png)

    #Example of a JSON file
    "user": {
    "profile_use_background_image": true,
    "statuses_count": 31,
    "profile_background_color": "C0DEED",
    "followers_count": 3066,
    ...

![](structuring_data.png)

### Storing data beyond traditional databases
+ Traditional databases
  + For storing real-time relational structured data ? OLTP
+ Data warehouses
  + For analyzing archived structured data ? OLAP
+ Data lakes
  + For storing data of all structures = flexibility and scalability
  + For analyzing big data

### Data warehouses
+ Optimized for analytics - OLAP
  + Organized for reading & aggregating data
  + Usually read-only
+ Contains data from multiple sources
+ Massively Parallel Processing (MPP)
+ Typically uses a denormalized schema and dimensional modeling
---
    Data marts
+ Subset of data warehouses
+ Dedicated to a specific topic    

![](data_warehouse.png)
![](etl_elt.png)

    Ordering ETL Tasks    

You have been hired to manage data at a small online clothing store. Their system is quite outdated because their only data repository is a traditional database to record transactions.    

You decide to upgrade their system to a data warehouse after hearing that different departments would like to run their own business analytics. You reason that an ELT approach is unnecessary because there is relatively little data (< 50 GB).    

>Solution
+ eCommerce API outputs real time data of transactions
+ Python script null rows and clean data into pre-determined columns
+ Resulting dataframe is written into an AWS Redshift Warehouse

![](storage_solution.png)

### Data Lakes
+ Store all types of data at a lower cost:
  + e.g., raw, operational databases, IoT device logs, real-time, relational and non-relational
+ Retains all data and can take up petabytes
+ Schema-on-read as opposed to schema-on-write
+ Need to catalog data otherwise becomes a data swamp
+ Run big data analytics using services such as Apache Spark and Hadoop
  + Useful for deep learning and data discovery because activities require so much data

## Database Design

In [15]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="Database design.mp4">
</video>

### What is database design?
+ Determines how data is logically stored
  + How is data going to be read and updated?
+ Uses database models: high-level speci×cations for database structure
  + Most popular: relational model
  + Some other options: NoSQL models, object-oriented model, network model
+ Uses schemas: blueprint of the database
  + Defines tables, fields, relationships, indexes, and views
  + When inserting data in relational databases, schemas must be respected

### Data modeling - abstract design phase
*Process of creating a data model for the data to be stored*
1. Conceptual data model: describes entities, relationships, and attributes
  + Tools: data structure diagrams, e.g., entity-relational diagrams and UML diagrams
2. Logical data model: defines tables, columns, relationships
  + Tools: database models and schemas, e.g., relational model and star schema
3. Physical data model: describes physical storage
  + Tools: partitions, CPUs, indexes, backup systems and tablespaces    
  
![](data_model.png)

![](er_schema.png)
![](other_db_design.png)

### Beyond the relational model
    Dimensional modeling
Adaptation of the relational model for data warehouse design
+ Optimized for OLAP queries: aggregate data, not updating (OLTP)
+ Built using the **star schema**
+ Easy to interpret and extend schema
---
    
    Elements of dimensional modeling

+ Organize by:
  + What is being analyzed?
  + How often do entities change?
+ Fact tables
  + Decided by business use-case
  + Holds records of a metric
  + Changes regularly
  + Connects to dimensions via foreign keys
+ Dimension tables
  + Holds descriptions of attributes
  + Does not change as often    
  
![](dimensional_model.png)

    Deciding fact and dimension tables

Imagine that you love running and data. It's only natural that you begin collecting data on your weekly running routine. You're most concerned with tracking how long you are running each week. You also record the route and the distances of your runs. You gather this data and put it into one table called Runs with the following schema:  

|***table - runs***|
|-|
duration_mins-float
week-int
month-varchar(160)
year-int
park_name-varchar(160)
city_name-varchar(160)
distance_km-float
route_name-varchar(160)

After learning about dimensional modeling, you decide to restructure the schema for the database. Runs has been pre-loaded for you.

    
    what would be the best way to organize the fact table and dimensional tables?  A is correct  
    
    A: A fact table holding duration_mins and foreign keys to dimension tables holding route details and week details, respectively.
    B: A fact table holding week,month, year and foreign keys to dimension tables holding route details and duration details, respectively.
    C: A fact table holding route_name,park_name, distance_km,city_name, and foreign keys to dimension tables holding week details and duration details, respectively.

Create two dimensional tables below:
```sql
-- Create a route dimension table
CREATE TABLE route(
	route_id INTEGER PRIMARY KEY,
    park_name VARCHAR(160) NOT NULL,
    city_name VARCHAR(160) NOT NULL,
    distance_km FLOAT NOT NULL,
    route_name VARCHAR(160) NOT NULL
);
-- Create a week dimension table
CREATE TABLE week(
	week_id INTEGER PRIMARY KEY,
    week INTEGER NOT NULL,
    month VARCHAR(160) NOT NULL,
    year INTEGER NOT NULL
);
```
---
    
The schema reorganized using the dimensional model:    

![](dimensional_model_design.png)

Let's try to run a query based on this schema. How about we try to find the number of minutes we ran in July, 2019? We'll break this up in two steps. First, we'll get the total number of minutes recorded in the database. Second, we'll narrow down that query to week_id's from July, 2019.    
    
Calculate the sum of the duration_mins column.
```sql
SELECT 
	-- Select the sum of the duration of all runs
	SUM(duration_mins)
FROM runs_fact;
```
Run a subquery on week_dim to get all the week_id's from July, 2019
```sql
SELECT 
	-- Get the total duration of all runs
	SUM(duration_mins)
FROM runs_fact
-- Get all the week_id's that are from July, 2019
INNER JOIN week_dim 
    on week_dim.week_id = runs_fact.week_id
WHERE month = 'July' 
    and year = '2019';
```

# Database Schemas and Normalization

## Star and Snowflake Schema

In [13]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="Star and snowflake.mp4">
</video>

    Dimensional modeling: star schema
+ Fact tables
  + Holds records of a metric
  + Changes regularly
  + Connects to dimensions via foreign keys
+ Dimension tables
  + Holds descriptions of attributes
  + Does not change as often

star schema    
![](star_schema.png)    
snowflake schema    
![](snowflake_schema.png)

## Normalized and denormalized databases

In [12]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="Normalized and denormalized.mp4">
</video>

### What is normalization?
+ Database design technique
+ Divides tables into smaller tables and connects them via relationships
+ Goal: reduce redundancy and increase data integrity    
**Identify repeating groups of data and create new tables for them**

>Adding foreign keys to fact table to join with dimension tables

```sql
-- Add the book_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_book
    FOREIGN KEY (book_id) REFERENCES dim_book_star (book_id);
    
-- Add the time_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_time
    FOREIGN KEY (time_id) REFERENCES dim_time_star (time_id);
    
-- Add the store_id foreign key
ALTER TABLE fact_booksales ADD CONSTRAINT sales_store
    FOREIGN KEY (store_id) REFERENCES dim_store_star(store_id);
```

>Extending the book dimension    

![](book_extension.png)
```sql
/* "dim_author" means "dim_author_sf" in the pic above 
I. create dim table
II. insert record into dim table from original fact table
III. add a serial primary key to dim table
*/
-- Create a new table for dim_author with an author column
CREATE TABLE dim_author (
    author varchar(256)  NOT NULL
);

-- Insert authors 
INSERT INTO dim_author
SELECT DISTINCT author FROM dim_book_star;

-- Add a primary key with serial as primary key
ALTER TABLE dim_author ADD COLUMN author_id SERIAL PRIMARY KEY;

-- Output the new table
SELECT * FROM dim_author;
```

### Turn star schema into snowflake schema
+ Book dimension of the star schema    
  + Most likely to have repeating values - Author, Publisher, Genre    
  + Normalize dim_book_star into dim_book_sf, dim_author_sf, dim_publisher_sf, dim_genre_sf.
+ Store dimension of the star schema
  + Most likely to have repeating values - city, state, country    
  + Normalize dim_store_star into dim_store_sf, dim_city_sf, dim_state_sf, dim_country_sf. 
+ Time dimension of the star schema
  + Most likely to have repeating values - month, quarter, year
  + Normalize dim_time_star into dim_time_sf, dim_month_sf, dim_quarter_sf, dim_year_sf.

```sql
--'''Denormalized Query'''
SELECT SUM(quantity) 
FROM fact_booksales
    --# Join to get city
    INNER JOIN dim_store_star on fact_booksales.store_id = dim_store_star.store_id
    --# Join to get author
    INNER JOIN dim_book_star on fact_booksales.book_id = dim_book_star.book_id
    --# Join to get year and quarter
    INNER JOIN dim_time_star on fact_booksales.time_id = dim_time_star.time_id
WHERE dim_store_star.city = 'Vancouver' 
    AND dim_book_star.author = 'Octavia E. Butler' 
    AND dim_time_star.year = 2018 
    AND dim_time_star.quarter = 4;
    
--'''Normalized Query'''
SELECT SUM(fact_booksales.quantity)
FROM fact_booksales
    --# Join to get city
    INNER JOIN dim_store_sf ON fact_booksales.store_id = dim_store_sf.store_id
    INNER JOIN dim_city ON dim_store_sf.city_id = dim_city_sf.city_id
    --# Join to get author
    INNER JOIN dim_book_sf ON fact_booksales.book_id = dim_book_sf.book_id
    INNER JOIN dim_author_sf ON dim_book_sf.author_id = dim_author_sf.author_id
    --# Join to get year and quarter
    INNER JOIN dim_time_sf ON fact_booksales.time_id = dim_time_sf.time_id
    INNER JOIN dim_month_sf ON dim_time_sf.month_id = dim_month_sf.month_id
    INNER JOIN dim_quarter_sf ON dim_month_sf.quarter_id = dim_quarter_sf.quarter_id
    INNER JOIN dim_year_sf ON dim_quarter_sf.year_id = dim_year_sf.year_id
WHERE dim_city_sf.city = `Vancouver`
    AND dim_author_sf.author = `Octavia E. Butler`
    AND dim_year_sf.year = 2018 
    AND dim_quarter_sf.quarter = 4;
```

### Normalization saves space

Denormalized databases enable data redundancy    
![](norm0.png)    

Normalization eliminates data redundancy    
![](norm1.png)

### Normalization ensures better data integrity
1. Enforces data consistency    
Must respect naming conventions because of referential integrity, e.g., 'California', not 'CA' or 'california'
2. Safer updating, removing, and inserting    
Less data redundancy = less records to alter
3. Easier to redesign by extending    
Smaller tables are easier to extend than larger tables

### Database normalization
+ Advantages
  + Normalization eliminates data redundancy: save on storage
  + Better data integrity: accurate and consistent data
+ Disadvantages
  + Complex queries require more CPU

### Remember OLTP and OLAP?
OLTP    
e.g., Operational databases
+ Typically highly normalized
+ **Write-intensive**
+ Prioritize quicker and safer insertion of data    

OLAP    
e.g., Data warehouses
+ Typically less normalized
+ **Read-intensive**
+ Prioritize quicker queries for analytics

#### Querying Compare    

![](star_schema.png)    

```sql
-- Output each state and their total sales_amount
SELECT dim_store_star.state, SUM(sales_amount)
FROM fact_booksales
	-- Join to get book information
    JOIN dim_book_star on fact_booksales.book_id = dim_book_star.book_id 
	-- Join to get store information
    JOIN dim_store_star on fact_booksales.store_id = dim_store_star.store_id
-- Get all books with in the novel genre
WHERE  
    dim_book_star.genre = 'novel'
-- Group results by state
GROUP BY
    dim_store_star.state;
```
![](snowflake_schema.png)    

```sql
-- Output each state and their total sales_amount
SELECT dim_state_sf.state, SUM(sales_amount)
FROM fact_booksales
    -- Joins for genre
    JOIN dim_book_sf on fact_booksales.book_id = dim_book_sf.book_id
    JOIN dim_genre_sf on dim_book_sf.genre_id = dim_genre_sf.genre_id
    -- Joins for state 
    JOIN dim_store_sf on fact_booksales.store_id = dim_store_sf.store_id 
    JOIN dim_city_sf on dim_store_sf.city_id = dim_city_sf.city_id
	JOIN dim_state_sf on  dim_city_sf.state_id = dim_state_sf.state_id
-- Get all books with in the novel genre and group the results by state
WHERE  
    dim_genre_sf.genre = 'novel'
GROUP BY
    dim_state_sf.state;
```

#### Update Countries for star schema
The only countries in the database are Canada and the United States, which should be represented as USA and CA.
```sql
-- Output records that need to be updated in the star schema
SELECT * FROM dim_store_star
WHERE country != 'USA' AND country !='CA';

-- update table records
UPDATE dim_store_star
SET country = (
    CASE WHEN country = 'Canada'
           THEN 'CA'
         WHEN country IN ('US', 'United States of America', 'United States')
           THEN 'USA'
    ELSE country
    END)
WHERE country != 'USA' AND country !='CA'

RETURNING 
    store_id,
    state,
    country;
```
#### Extending the snowflake schema,  dim_country_sf extends to dim_continent_sf
I. create dim_continent table and insert data
```sql
CREATE TABLE dim_continent_sf (
    continent_id serial PRIMARY KEY,
    continent varchar(256) UNIQUE NOT NULL
);
INSERT INTO dim_continent_sf
VALUES (1, 'North America');
```
II. add continent_id(foreign key) column with default value (or use set statement and case clause to fill in values, details see above) to dim_country_sf to join with dim_continent 
```sql
-- Add a continent_id column with default value of 1
ALTER TABLE dim_country_sf
ADD continent_id int NOT NULL DEFAULT(1);

-- Add the foreign key constraint
ALTER TABLE dim_country_sf ADD CONSTRAINT country_continent
   FOREIGN KEY (continent_id) REFERENCES dim_continent_sf(continent_id);
   
-- Output updated table
SELECT * FROM dim_country_sf;
```

## Normal forms

In [100]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="normal_forms.mp4">
</video>

### Database normalization
Advantages
+ Normalization eliminates data redundancy: save on storage
+ Better data integrity: accurate and consistent data

Disadvantages
+ Complex queries require more CPU

### Normalization
Identify repeating groups of data and create new tables for them    
A more formal definition:    
> The goals of normalization are to:
+ Be able to characterize the level of redundancy in a relational schema
+ Provide mechanisms for transforming schemas in order to remove redundancy    

### Normal forms (NF)
Ordered from least to most normalized:
+ First normal form (1NF)
+ Second normal form (2NF)
+ Third normal form (3NF)
+ Elementary key normal form (EKNF)
+ Boyce-Codd normal form (BCNF)
+ Fourth normal form (4NF)
+ Essential tuple normal form (ETNF)
+ Fifth normal form (5NF)
+ Domain-key Normal Form (DKNF)
+ Sixth normal form (6NF)

### 1NF
+ Each record must be unique - no duplicate rows
+ Each cell must hold one value

Initial data, **coursers_completed** didn't meet rule no.2 of 1NF

| Student_id | Student_Email | Courses_Completed |
|------------|-----------------|----------------------------------------------------------|
| 235 | jim@gmail.com | Introduction to Python, Intermediate Python |
| 455 | kelly@yahoo.com | Cleaning Data in R |
| 767 | amy@hotmail.com | Machine Learning Toolbox, Deep Learning in Python |    

---
#### Extend into a 1NF form

| Student_id | Student_Email |
|------------|-----------------|
| 235 | jim@gmail.com |
| 455 | kelly@yahoo.com |
| 767 | amy@hotmail.com |    
 

| Student_id | Completed |
|------------|--------------------------|
| 235 | Introduction to Python |
| 235 | Intermediate Python |
| 455 | Cleaning Data in R |
| 767 | Machine Learning Toolbox |
| 767 | Deep Learning in Python |

### 2NF
Must satisfy 1NF AND
+ If primary key is one column
  + then automatically satisfies 2NF
+ If there is a composite primary key
  + **then each non-key column must be dependent on all the keys**    

Initial data        

| Student_id (PK) | Course_id (PK) | Instructor_id | Instructor | Progress |
|-----------------|----------------|---------------|---------------|----------|
| 235 | 2001 | 560 | Nick Carchedi | .55 |
| 455 | 2345 | 658 | Ginger Grant | .10 |
| 767 | 6584 | 999 | Chester Ismay | 1.00 |    

---
#### Extend into a 2NF form    

| Student_id (PK) | Course_id (PK) | Percent_Completed |
|-----------------|----------------|-------------------|
| 235 | 2001 | .55 |
| 455 | 2345 | .10 |
| 767 | 6584 | 1.00 |    

| Course_id (PK) | Instructor_id | Instructor |
|----------------|---------------|---------------|
| 2001 | 560 | Nick Carchedi |
| 2345 | 658 | Ginger Grant |
| 6584 | 999 | Chester Ismay |

### 3NF
+ Satisfies 2NF
+ No transitive dependencies: non-key columns can't depend on other non-key columns    

Initial Data    

| Course_id (PK) | Instructor_id | Instructor | Tech |
|----------------|---------------|---------------|--------|
| 2001 | 560 | Nick Carchedi | Python |
| 2345 | 658 | Ginger Grant | SQL |
| 6584 | 999 | Chester Ismay | R |    

---
#### Extend into a 3NF form   

| Course_id (PK) | Instructor | Tech |
|----------------|---------------|--------|
| 2001 | Nick Carchedi | Python |
| 2345 | Ginger Grant | SQL |
| 6584 | Chester Ismay | R |    

| Instructor_id | Instructor |
|---------------|---------------|
| 560 | Nick Carchedi |
| 658 | Ginger Grant |
| 999 | Chester Ismay |

### Data anomalies    
What is risked if we don't normalize enough?
1. Update anomaly
2. Insertion anomaly
3. Deletion anomaly    

The more normalized the database, the less prone it will be to data anomalies

#### Update anomaly
Data inconsistency caused by data redundancy when updating    


| Student_ID | Student_Email | Enrolled_in | Taught_by |
|------------|-----------------|-------------------------|---------------------|
| 230 | lisa@gmail.com | Cleaning Data in R | Nick Carchedi |
| 367 | bob@hotmail.com | Data Visualization in R | Ronald Pearson |
| 520 | ken@yahoo.com | Introduction to Python | Hugo Bowne-Anderson |
| 520 | ken@yahoo.com | Arima Modeling in R | David Stoffer |    

To update student 520 's email:
+ Need to update more than one record, otherwise, there will be inconsistency
+ User updating needs to know about redundancy    

#### Insertion anomaly
Unable to add a record due to missing attributes

| Student_ID | Student_Email | Enrolled_in | Taught_by |
|------------|-----------------|-------------------------|---------------------|
| 230 | lisa@gmail.com | Cleaning Data in R | Nick Carchedi |
| 367 | bob@hotmail.com | Data Visualization in R | Ronald Pearson |
| 520 | ken@yahoo.com | Introduction to Python | Hugo Bowne-Anderson |
| 520 | ken@yahoo.com | Arima Modeling in R | David Stoffer |

Unable to insert a student who has signed up but not enrolled in any courses

#### Deletion anomaly
Deletion of record(s) causes unintentional loss of data

| Student_ID | Student_Email | Enrolled_in | Taught_by |
|------------|-----------------|-------------------------|---------------------|
| 230 | lisa@gmail.com | Cleaning Data in R | Nick Carchedi |
| 367 | bob@hotmail.com | Data Visualization in R | Ronald Pearson |
| 520 | ken@yahoo.com | Introduction to Python | Hugo Bowne-Anderson |
| 520 | ken@yahoo.com | Arima Modeling in R | David Stoffer |

If we delete Student 230 , what happens to the data on Cleaning Data in R ?

### Converting to 2NF    

Let's try normalizing a bit more. In the last exercise, you created a table holding customer_ids and car_ids. This has been expanded upon and the resulting table, customer_rentals, has been loaded for you. Since you've got 1NF down, it's time for 2NF.

customer_id	| car_id	| start_date	| end_date	| model	| manufacturer	| type_car	| condition	| color
-|-|-|-|-|-|-|-|-
1453|	4KL298|	2019-01-08|	2019-01-10|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue
1454|	5PL4YY|	2019-03-18|	2019-03-21|	 Camaro 2019|	 Chevrolet|	 convertible|	 excellent|	 red
1455|	5H9OP5|	2019-04-14|	2019-04-14|	 CRV 2018|	 Honda|	 SUV|	 good|	 grey
1455|	5H9OP5|	2019-05-02|	2019-05-16|	 CRV 2018|	 Honda|	 SUV|	 good|	 grey
1455|	499ERW|	2019-01-12|	2019-01-13|	 CRV 2018|	 Honda|	 SUV|	 excellent|	 black
1456|	4KL298|	2019-02-17|	2019-02-22|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue
1456|	4KL298|	2019-03-05|	2019-03-20|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue    

Question    

Why doesn't customer_rentals meet 2NF criteria?   C 
Possible Answers    

    A.Because the end_date doesn't depend on all the primary keys.
    B.Because there can only be at most two primary keys.
    C.Because there are non-key attributes describing the car that only depend on one primary key, car_id.    

```sql
database_name=# \d customer_rentals;
```    

---

Question     
+ Create a new table for the non-key columns that were conflicting with 2NF criteria.
  + insert data into cars
+ Drop those non-key columns from customer_rentals.    

customer_id|	car_id|	start_date|	end_date|	model|	manufacturer|	type_car|	condition|	color
-|-|-|-|-|-|-|-|-
1453|	4KL298|	2019-01-08|	2019-01-10|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue
1454|	5PL4YY|	2019-03-18|	2019-03-21|	 Camaro 2019|	 Chevrolet|	 convertible|	 excellent|	 red
1455|	5H9OP5|	2019-04-14|	2019-04-14|	 CRV 2018|	 Honda|	 SUV|	 good|	 grey
1455|	5H9OP5|	2019-05-02|	2019-05-16|	 CRV 2018|	 Honda|	 SUV|	 good|	 grey
1455|	499ERW|	2019-01-12|	2019-01-13|	 CRV 2018|	 Honda|	 SUV|	 excellent|	 black
1456|	4KL298|	2019-02-17|	2019-02-22|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue
1456|	4KL298|	2019-03-05|	2019-03-20|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue    

```sql
-- Create a new table to satisfy 2NF
CREATE TABLE cars (
  car_id VARCHAR(256) NOT NULL PRIMARY KEY,
  model VARCHAR(128),
  manufacturer VARCHAR(128),
  type_car VARCHAR(128),
  condition VARCHAR(128),
  color VARCHAR(128)
);

INSERT INTO cars
SELECT DISTINCT car_id, model, manufacturer, type_car, condition, color
FROM customer_rentals;

ALTER TABLE customer_rentals 
ADD CONSTRAINT customer_rentals_cars_fkey FOREIGN KEY(car_id) REFERENCES cars (car_id);

-- SELECT * FROM cars;

--# tables description
database_name=# \d customer_rentals;

-- Drop columns in customer_rentals to satisfy 2NF
ALTER TABLE customer_rentals
DROP COLUMN model,
DROP COLUMN manufacturer, 
DROP COLUMN type_car,
DROP COLUMN condition,
DROP COLUMN color;    
```

### Converting to 3NF

Last, but not least, we are at 3NF. In the last exercise, you created a table holding car_idss and car attributes. This has been expanded upon. For example, car_id is now a primary key. The resulting table, rental_cars, has been loaded for you.    

Question    
Why doesn't rental_cars meet 3NF criteria?    A, primary key is car_id         
+ A.Because there are two columns that depend on the non-key column, model.
+ B.Because there are two columns that depend on the non-key column, color.
+ C.Because 2NF criteria isn't satisfied.    
    

car_id|	model|	manufacturer|	type_car|	condition|	color
-|-|-|-|-|-
4KL298|	 Golf 2017|	 Volkswagen|	 hatchback|	 fair|	 blue
5PL4YY|	 Camaro 2019|	 Chevrolet|	 convertible|	 excellent|	 red
5H9OP5|	 CRV 2018|	 Honda|	 SUV|	 good|	 grey
499ERW|	 CRV 2018|	 Honda|	 SUV|	 excellent|	 black    

```sql
/*check for primary keys*/
SELECT t.table_name, c.column_name, t.constraint_type
FROM information_schema.table_constraints t
LEFT JOIN information_schema.columns c
    ON c.table_name = t.table_name
WHERE t.table_name IN ('rental_cars')
    AND constraint_type IN ('PRIMARY KEY');
```    

Question    
+ Create a new table for the non-key columns that were conflicting with 3NF criteria.
+ Drop those non-key columns from rental_cars.

```sql

-- Create a new table to satisfy 3NF
CREATE TABLE car_model(
  model VARCHAR(128) NOT NULL PRIMARY KEY,
  manufacturer VARCHAR(128),
  type_car VARCHAR(128)
);

INSERT INTO car_model
SELECT DISTINCT model, manufacturer, type_car
FROM rental_cars;

ALTER TABLE rental_cars
ADD CONSTRAINT car_model_fkey FOREIGN KEY(model) REFERENCES car_model (model);

-- Drop columns in rental_cars to satisfy 3NF
ALTER TABLE rental_cars
DROP COLUMN manufacturer, 
DROP COLUMN type_car;
```

```sql
/*check for primary and foreign keys of rental_cars*/
database_name=# \d rental_cars;

```

# Database Views

## database views
Virtual table that is not part of the physical schema
+ Query, not data, is stored in memory
+ Data is aggregated from data in tables
+ Can be queried like a regular database table
+ No need to retype common queries or alter schemas

In [2]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="database_views.mp4">
</video>

```sql
--creating a view syntax
CREATE VIEW view_name AS
SELECT col1, col2
FROM table_name
WHERE condition;
```

![](book_extension.png)
Goal: Return titles and authors of the science fiction genre
```sql
CREATE VIEW scifi_books AS
SELECT title, author, genre
FROM dim_book_sf
JOIN dim_genre_sf 
    ON dim_genre_sf.genre_id = dim_book_sf.genre_id
JOIN dim_author_sf 
    ON dim_author_sf.author_id = dim_book_sf.author_id
WHERE dim_genre_sf.genre = 'science fiction';
```
Querying a view
```sql
SELECT * FROM scifi_books;

/* behind the scence */
SELECT * FROM scifi_books
-- querying the view equals the query below 
SELECT * FROM
(SELECT title, author, genre
FROM dim_book_sf
JOIN dim_genre_sf 
     ON dim_genre_sf.genre_id = dim_book_sf.genre_id
JOIN dim_author_sf 
     ON dim_author_sf.author_id = dim_book_sf.author_id
WHERE dim_genre_sf.genre = 'science fiction');
```

Viewing views
```sql
-- use where caluse to filter out system views
SELECT * FROM information_schema.views
WHERE table_schema NOT IN ('pg_catalog', 'information_schema');
```

### Benefits of views
+ Doesn't take up storage
+ A form of access control
  + Hide sensitive columns and restrict what user can see
+ Masks complexity of queries
  + Useful for highly normalized schemas

>Tables vs. views

Views have been described as "virtual tables". It's true that views are similar to tables in certain aspects, but there are key differences. 

![](table_vs_view.png)    

>Get all non-systems views    

```sql
SELECT * FROM information_schema.views
WHERE table_schema NOT IN ('pg_catalog', 'information_schema');
```

## Managing views

In [4]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="managing_views.mp4">
</video>

### Granting and revoking access to a view
```sql
GRANT <privilege(s)> | REVOKE <privilege(s)> 
ON <object> 
TO <role> | FROM <role>```   
    
+ Privileges: SELECT , INSERT , UPDATE , DELETE , etc
+ Objects: table, view, schema, etc
+ Roles: a database user or a group of database users    

>Granting and revoking example    

```sql
GRANT UPDATE ON ratings TO PUBLIC;
REVOKE INSERT ON films TO db_user;
```
### Update a view, updating the data behind the view
```sql 
UPDATE films SET kind = 'Dramatic' WHERE kind = 'Drama';```       
Not all views are updatable
+ View is made up of one table
+ Doesn't use a window or aggregate function

### Inserting into a view
```sql
INSERT INTO films (code, title, did, date_prod, kind)
    VALUES ('T_601', 'Yojimbo', 106, '1961-06-16', 'Drama');```
Not all views are insertable, avoid modifying data through views

### Dropping a view
```sql
DROP VIEW view_name [ CASCADE | RESTRICT ];```
RESTRICT (default): returns an error if there are objects that depend on the view    
CASCADE : drops view and any object that depends on that view

### Redefining a view
```sql
CREATE OR REPLACE VIEW view_name AS new_query;```
+ If a view with view_name exists, it is replaced
+ new_query must generate the same column names, order, and data types as the old query
+ The column output may be different
+ New columns may be added at the end        
> ***If these criteria can't be met, drop the existing view and create a new one***

### Altering a view
```sql
ALTER VIEW [ IF EXISTS ] name ALTER [ COLUMN ] column_name SET DEFAULT expression
ALTER VIEW [ IF EXISTS ] name ALTER [ COLUMN ] column_name DROP DEFAULT
ALTER VIEW [ IF EXISTS ] name OWNER TO new_owner
ALTER VIEW [ IF EXISTS ] name RENAME TO new_name
ALTER VIEW [ IF EXISTS ] name SET SCHEMA new_schema
ALTER VIEW [ IF EXISTS ] name SET ( view_option_name [= view_option_value] [, ... ] )
ALTER VIEW [ IF EXISTS ] name RESET ( view_option_name [, ... ] );```

### Creating a view from other views

Views can be created from queries that include other views. This is useful when you have a complex schema, potentially due to normalization, because it helps reduce the JOINS needed. The biggest concern is keeping track of dependencies, specifically how any modifying or dropping of a view may affect other views. 

```sql
-- Create a view with the top artists in 2017
CREATE VIEW top_artists_2017 AS
-- with only one column holding the artist field
SELECT artist_title.artist FROM artist_title
INNER JOIN top_25_2017
ON artist_title.reviewid = top_25_2017.reviewid;

-- Output the new view
SELECT * FROM top_artists_2017;
```

Question

Which is the DROP command that would drop both top_25_2017 and top_artists_2017?  A     
Possible Answers    
A. DROP VIEW top_25_2017 CASCADE;    
B. DROP VIEW top_25_2017 RESTRICT;    
C. DROP VIEW top_artists_2017 RESTRICT;    
D. DROP VIEW top_artists_2017 CASCADE;    

### Granting and revoking access  
Access control is a key aspect of database management. Not all database users have the same needs and goals, from analysts, clerks, data scientists, to data engineers. As a general rule of thumb, write access should never be the default and only be given when necessary.

In the case of our Pitchfork reviews, we don't want all database users to be able to write into the long_reviews view. Instead, the editor should be the only user able to edit this view.     

```sql
-- Revoke everyone's update and insert privileges
REVOKE UPDATE, INSERT ON long_reviews FROM PUBLIC; 

-- Grant the editor update and insert privileges 
GRANT UPDATE, INSERT ON long_reviews TO editor; 
```

### Redefining a view

Unlike inserting and updating, redefining a view doesn't mean modifying the actual data a view holds. Rather, it means modifying the underlying query that makes the view. In the last video, we learned of two ways to redefine a view: 
1. CREATE OR REPLACE
2. DROP then CREATE. CREATE OR REPLACE can only be used under certain conditions.

>Question    
Can the CREATE OR REPLACE statement be used to redefine the artist_title view? A    

    A. Yes, as long as the label column comes at the end.
    B. No, because the new query requires a JOIN with the labels table.
    C. No, because a new column that did not exist previously is being added to the view.
    D. Yes, as long as the label column has the same data type as the other columns in artist_title

```sql
SELECT reviews.reviewid,
    reviews.title,
    artists.artist
FROM (
    reviews JOIN artists 
        ON ((artists.reviewid = reviews.reviewid)));
```

```sql
-- Redefine the artist_title view to have a label column
CREATE OR REPLACE VIEW artist_title AS
SELECT reviews.reviewid, reviews.title, artists.artist, labels.label
FROM reviews
INNER JOIN artists
    ON artists.reviewid = reviews.reviewid
INNER JOIN labels
    ON labels.reviewid = reviews.reviewid;

SELECT * FROM artist_title;
```

## Materialized views

In [5]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="materialized_views.mp4">
</video>

### Two types of views
+ Views
  + Also known as non-materialized views
+ Materialized views
  + Physically materialized    
  
### Materialized views
+ Stores the query results, not the query
+ Querying a materialized view means accessing the stored query results
  + Not running the query like a non-materialized view
+ Refreshed or rematerialized when prompted or scheduled

### When to use materialized views
+ Long running queries
+ Underlying query results don't change often
+ Data warehouses because OLAP is not write-intensive
  + Save on computational cost of frequent queries

### Implementing materialized views
(in PostgreSQL)    
```sql
CREATE MATERIALIZED VIEW my_mv AS SELECT * FROM existing_table;
REFRESH MATERIALIZED VIEW my_mv;
```
### Managing dependencies
+ Materialized views often depend on other materialized views
+ Creates a dependency chain when refreshing views
+ Not the most ef×cient to refresh all views at the same time   
![](dependency_example.png)

### Tools for managing dependencies
+ Cron (a Unix based job scheduler) to refresh materialized views
+ Use Directed Acyclic Graphs (**DAGs**) to keep track of views
+ Pipeline scheduler tools
![](dependency_tools.png)

### Materialized versus non-materialized
![](materialized_vs_non_materialized.png)

### Creating and refreshing a materialized view
```sql
-- Create a materialized view called genre_count 
CREATE MATERIALIZED VIEW genre_count AS
SELECT genre, COUNT(*) 
FROM genres
GROUP BY genre;

INSERT INTO genres
VALUES (50000, 'classical');

-- Refresh genre_count
REFRESH MATERIALIZED VIEW genre_count;

SELECT * FROM genre_count;
```
### Managing materialized views
![](managing_materialized_views.png)

# Database Management

## Database Roles and Access Control

In [6]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="database_roles_access_control.mp4">
</video>

### Database Roles
+ Manage database access permissions
+ A database role is an entity that contains information that:
  + Define the role's privileges
    + Can you login?
    + Can you create databases?
    + Can you write to tables?
  + Interact with the client authentication system
    + Password
+ Roles can be assigned to one or more users
+ Roles are global across a database cluster installation

### Create a role
Empty role
```sql 
CREATE ROLE data_analyst;```
Roles with some attributes set
```sql
CREATE ROLE intern WITH PASSWORD 'PasswordForIntern' VALID UNTIL '2020-01-01';
CREATE ROLE admin CREATEDB;
ALTER ROLE admin CREATEROLE;
```

### GRANT and REVOKE privileges from roles
```sql
GRANT UPDATE ON ratings TO data_analyst;
REVOKE UPDATE ON ratings FROM data_analyst;```

The available privileges in PostgreSQL are:    
```sql
SELECT , INSERT , UPDATE , DELETE , TRUNCATE , REFERENCES , TRIGGER , CREATE ,
CONNECT , TEMPORARY , EXECUTE , USAGE```

### Users and groups (are both roles)
A role is an entity that can function as a user and/or a group
+ User roles
+ Group roles
![](roles.png)    

```sql
-- Group role
CREATE ROLE data_analyst;
-- User role
CREATE ROLE alex WITH PASSWORD 'PasswordForIntern' VALID UNTIL '2020-01-01';
GRANT data_analyst TO alex;
REVOKE data_analyst FROM alex;
```

### Common PostgreSQL roles
Role| Allowed access
-|-
pg_read_all_settings| Read all configuration variables, <br> even those normally visible only to superusers.    
pg_read_all_stats| Read all pg_stat_* views and use various statistics related extensions, <br> even those normally visible only to superusers.        
pg_signal_backend| Send signals to other backends (eg: cancel query, terminate).    
More...| More...

### Benefits and pitfalls of roles
Benefits
+ Roles live on after users are deleted
+ Roles can be created before user accounts
+ Save DBAs time
Pitfalls
+ Sometimes a role gives a specific user too much access
  + You need to pay attention

CREATE a role
```sql
-- Create a data scientist role
CREATE ROLE data_scientist;

-- Create a role for Marta, has one attirbute: ability to login (LOGIN)
CREATE ROLE marta WITH LOGIN;

-- Create an admin role, with the ability to create databases and create roles
CREATE ROLE admin WITH CREATEDB CREATEROLE;
```

GRANT privileges and ALTER attributes
```sql
-- Grant data_scientist update and insert privileges
GRANT UPDATE, INSERT ON long_reviews TO data_scientist;

-- Give Marta's role a password
ALTER ROLE marta WITH PASSWORD 's3cur3p@ssw0rd';
```

Add a user to a group role
```sql
-- Add Marta to the data scientist group
GRANT data_scientist TO marta;

-- Remove Marta from the data scientist group
REVOKE data_scientist FROM marta;
```

## Table Partitioning

In [7]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="table_partitioning.mp4">
</video>

### Why partition?
Tables grow to over (100s Gb / Tb)
+ Problem: queries/updates become slower
+ Because: e.g., indices don't fit memory
+ Solution: split table into smaller parts (= partitioning)    

### Data modeling refresher
1. Conceptual data model
2. Logical data model
  + For partitioning, logical data model is the same
3. Physical data model
  + Partitioning is part of physical data model

### Partition Methods
![](vertical_partition.png)
![](horizontal_partition.png)

![](horizontal_partition_example.png)

```sql
CREATE TABLE sales (
    ...
    timestamp DATE NOT NULL
) P
ARTITION BY RANGE (timestamp);

CREATE TABLE sales_2019_q1 PARTITION OF sales
    FOR VALUES FROM ('2019-01-01') TO ('2019-03-31');
...
CREATE TABLE sales_2019_q4 PARTITION OF sales
    FOR VALUES FROM ('2019-09-01') TO ('2019-12-31');
CREATE INDEX ON sales ('timestamp');
```

### Pros/cons of horizontal partitioning
Pros
+ Indices of heavily-used partitions fit in memory
+ Move to specific medium: slower vs. faster
+ Used for both OLAP as OLTP

Cons
+ Partitioning existing table can be a hassle
+ Some constraints can not be set    

### Relation to Sharding
>Taking partitioning one step further and distribute the partitions on several machines.    
When horizontal partitioning is applied to spread a table over several machines, it's called **"sharding"**.

![](sharding.png)

### Partitioning and normalization
![](partition_and_normalization.png)

Creating vertical partitions
```sql
-- Create a new table called film_descriptions
CREATE TABLE film_descriptions (
    film_id INT,
    long_description TEXT
);

-- Copy the descriptions from the film table
INSERT INTO film_descriptions
SELECT film_id, long_description FROM film;
    
-- Drop the column in the original table
ALTER TABLE film DROP COLUMN long_description;

-- Join to create the original table
SELECT * FROM film 
JOIN film_descriptions USING(film_id);
```
Creating horizontal partitions
```sql
-- Create a new table called film_partitioned
CREATE TABLE film_partitioned (
  film_id INT,
  title TEXT NOT NULL,
  release_year TEXT
)
PARTITION BY LIST (release_year);

-- Create the partitions for 2019, 2018, and 2017
CREATE TABLE film_2019
	PARTITION OF film_partitioned FOR VALUES IN ('2019');

CREATE TABLE film_2018
	PARTITION OF film_partitioned FOR VALUES IN ('2018');

CREATE TABLE film_2017
	PARTITION OF film_partitioned FOR VALUES IN ('2017');

-- Insert the data into film_partitioned
INSERT INTO film_partitioned
SELECT film_id, title, release_year FROM film;

-- View film_partitioned
SELECT * FROM film_partitioned;
```

## Data Integration
>Data Integration combines data from different sources, formats, technologies to provide users with
a translated and uni×ed view of that data.

In [9]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="data_integration.mp4">
</video>

### Business case examples
+ 360-degree customer view
+ Acquisition
+ Legacy systems    

### Things to consider
+ unified data model could be used to create dashboards or data product (such as recommendation engine), the final data model needs to be fast enough for your use-case.
+ data sources format (structured, non-structured, semi-structured)
+ update frequency (hourly, weekly, real time)
+ data format transformation (ETL tool has to be flexible, reliable, scalable)
+ automated testing and proactive alerts (example: data gets corrupted on it's way to the unified data model, the system let you know.)
+ security (anonymize the sensitive data during ETL)
+ data governance - lineage 可追溯

![](data_integration0.png)
![](data_integration1.png)

## Picking a Database Management System (DBMS)

In [10]:
%%html
<video controls="" preload="none" width="900px" height="600px">
      <source src="DBMS.mp4">
</video>

### DBMS
+ DBMS: DataBase Management System
+ Create and maintain databases
  + Data
  + Database schema
  + Database engine
+ Interface between database and end users
![](DBMS.png)

### DBMS types
+ Choice of DBMS depends on database type
+ Two types:
  + SQL DBMS
  + NoSQL DBMS
  
### SQL DBMS
+ Relational DataBase Management System (RDBMS)
+ Based on the relational model of data
+ Query language: SQL
+ Best option when:
  + Data is structured and unchanging
  + Data must be consistent

### NoSQL DBMS
+ Less structured
+ Document-centered rather than table-centered
+ Data doesn’t have to fit into well-defined rows and columns
+ Best option when:
  + Rapid growth
  + No clear schema de×nitions
  + Large quantities of data
+ Types: key-value store, document store, columnar database, graph database

![](redis.png)
![](mongodb.png)
![](cassandra.png)
![](neo4j.png)
![](DBMSs.png)

### SQL versus NoSQL

Deciding when to use a SQL versus NoSQL DBMS depends on the kind of information you’re storing and the best way to store it. Both types store data, they just store data differently.

When is it better to use a SQL DBMS? C    

    A. You are dealing with rapidly evolving features, functions, data types, and it’s difficult to predict how the application will grow over time.
    B. You have a lot of data, many different data types, and your data needs will only grow over time.
    C. You are concerned about data consistency and 100% data integrity is your top goal.
    D. Your data needs scale up, out, and down.

### Choosing the right DBMS
![](sql_vs_nosql.png)